/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 2 version,not dead,ie <= 11
*/

:root {
  --bg-color: #9D8B84;
  --basic-white: #F8F7F4;
  --dark-white: #FEFEFE;
  --normal-white: #FFFFFF;
  --pattern: #323232;
  --blog: #323232;
  --stub: rgb(216, 199, 157);
  --mailling: #5A5A5A;
  --map: #323232;
  --nav-active: #EDEDED;
  --hover-modal: #E84D37;
  --hover-a: #FFBC9E;
  --black: #000000;
  --ABABAB: #ABABAB;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {color:#999999; opacity:1;}/* webkit */
::-moz-placeholder          {color:#999999; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#999999; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#999999; opacity:1;}/* IE */

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Verdana", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: var(--normal-white);
  background-color: var(--bg-color);
  min-width: 1200px;
}
/* bg-color-catalog.html */
.bg-color {
  background-color: #849D8F;
}

.liner {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 656px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding-top: 9px;
  width: 1146px;
  margin: 0 auto;
}

.wrapper2 {
  padding-top: 9px;
  width: 1146px;
  margin: 0 auto;
}

/*Navigation*/

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content 1fr 259px;
  -ms-grid-columns: max-content 1fr 259px;
  grid-template-columns: -webkit-max-content 1fr 259px;
  grid-template-columns: max-content 1fr 259px;
}

.header-navigation {
  list-style: none;
  line-height: 18px;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 21px;
  margin-left: 10px;
}

.nav-items {
  margin-right: 13px;
  margin-left: 13px;
  margin-bottom: 15px;
  position: relative;
}

@-moz-document url-prefix() {
  .nav-items {
    margin-left: 13px;
  }
}


.nav-items:nth-child(2) {
  margin-right: 19px;
  margin-left: 20px;
}

@-moz-document url-prefix() {
  .nav-items:nth-child(2) {
    margin-right: 4px;
  }
}

.nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

@-moz-document url-prefix() {
  .nav-item {
    margin-right: 13px;
  }
}

.nav-items:hover > .nav-item:not(.active) {
  background-color: var(--normal-white);
  border-radius: 26px;
  color: var(--blog);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 6px 13px 5px 14px;
  margin-right: -13px;
  margin-left: -14px;
}

@-moz-document url-prefix() {
  .nav-items:hover > .nav-item:not(.active) {
    margin-right: 0;
  }
}

.nav-items > .active {
  background-color: var(--hover-modal);
  border-radius: 26px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 6px 15px 5px 14px;
  margin-right: -15px;
  margin-left: -14px;
}

.nav-item:active {
  background: var(--nav-active);
  box-shadow: inset 0px 2px 1px #696969;
}

.header-menu {
  display: none;
  position: absolute;
  z-index: 5;
  width: 143px;
  top: 29px;
  left: -20px;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--normal-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

.header-menu > li:first-child > a {
  display: block;
  padding-top: 11px;
  padding-left: 21px;
  padding-bottom: 8px;
  color: var(--blog);
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

.header-menu > li:first-child::after {
  content: "";
  position: absolute;
  left: 6px;
  right: 6px;
  top: 37px;
  border: 0.5px solid rgba(50, 50, 50, 0.2);
}

.header-menu a {
  display: block;
  color: var(--blog);
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-top: 11px;
  padding-bottom: 5px;
  padding-left: 21px;
  
}

.header-menu > li:last-child > a {
  padding-bottom: 11px;
}

.header-menu > li:hover {
  background-color: #FBDED7;
}

.header-menu > li:active {
  background-color: #F6B5A5;
}

.header-menu > .active {
  background-color: #D07058;
}

.active a {
  color: var(--normal-white);
}

.header-menu > li:last-child {
  border-radius: 0 0 4px 4px;
}

.header-menu > li:first-child {
  border-radius: 4px 4px 0 0;
}

.header-menu::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  background-color: transparent;
  width: 100%;
  height: 5px;
}

.nav-items:hover > .header-menu {
  display: block;
}

.header-search {
  position: relative;
}

.form-search {
  display: none;
  position: absolute;
  z-index: 5;
  top: 36px;
  left: -309px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  width: 341px;
  height: 84px;
}

.form-search::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -5px;
  width: 100%;
  height: 5px;
}

.form-search form {
  padding: 20px 15px;
}

.form-search input {
  width: 311px;
  height: 44px;
  background-color: var(--normal-white);
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  padding: 15px;
  font-weight: bold;
}

.form-search input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-left: 14px;
}

.form-search input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-left: 14px;
}

.form-search input:placeholder-shown {
  font-weight: normal;
}

.header-search:hover .form-search {
  display: block;
}

.header-login {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  padding: 0;
}

.search {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--normal-white);
  padding: 8px 8px 6px 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 32px;
}

.search svg {
  margin-bottom: 3px;
}

.header-search:hover path {
  fill: var(--blog);
}

.header-search:hover .search,
.header-in-out:hover .exit,
.header-pay:hover .box {
  background-color: rgba(255, 255, 255, 1);
  color: var(--blog);
}

.exit {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px 16px;
  vertical-align: middle;
  color: var(--normal-white);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 32px;
}

.exit span {
  margin-top: 2px;
}

.exit svg {
  margin-right: 9px;
}

.header-in-out:hover path {
  fill: var(--blog);
}

.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px 16px;
  margin-right: -3px;
  color: var(--normal-white);
}

.box svg {
  margin-right: 10px;
}

.box:hover path {
  fill: var(--blog);
}

.box-full {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 32px;
  background: rgba(255, 255, 255, 1);
  border-radius: 20px;
  padding: 6px 14px 7px 15px;
  margin-right: -2px;
  color: var(--blog);
}

.box-full span {
  margin-top: 3px;
  margin-right: 3px;
}

.box-full svg {
  margin-right: 6px;
  margin-left: 1px;
}

.header-in-out {
  margin-left: 10px;
  position: relative;
}

.form-in-out {
  display: none;
  position: absolute;
  top: 36px;
  left: -184px;
  z-index: 5;
  width: 277px;
  height: 214px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  padding: 20px 16px 22px 19px;
}

.form-in-out input {
  width: 241px;
  height: 44px;
  background-color: var(--normal-white);
  border: 1px solid #D3D3D2;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: bold;
}

.form-in-out input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-left: 14px;
}

.form-in-out input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-left: 14px;
}

.form-in-out input:placeholder-shown {
  font-weight: normal;
}

.form-in-out button {
  border: 0;
  padding: 15px 26px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.btn-exit-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.btn-exit-form div {
  width: 119px;
}

.btn-exit-form a {
  display: inline-block;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgba(50, 50, 50, 0.3);
  margin-bottom: 4px;
  color: var(--blog);
}

.btn-exit-form a:hover {
  color: var(--hover-modal);
  border-bottom: 1px solid rgba(232, 77, 55, 0.3);
}


.form-in-out::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.header-in-out:hover .form-in-out {
  display: block;
}

.header-pay {
  position: relative;
  margin-left: 9px;
}

.box-table {
  display: none;
  position: absolute;
  z-index: 5;
  top: 36px;
  left: -421px;
  width: 539px;
  min-height: 242px;
  background: var(--basic-white);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: var(--blog);
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  padding: 2px 14px 17px 15px
}

.box-table::before {
  content: "";
  background-color: transparent;
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
}

.box-table tr:last-child {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  width: 510px;
}

.box-table tr:last-child::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #CACAC7;
  left: 0;
}

.box-table div {
  width: 100%;
}

.box-table .btn {
  padding: 14px 15px;
  margin-right: 2px;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
}

.box-table tr:not(:last-child) {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  min-width: 464px;
  margin-top: 17px;
  margin-bottom: 15px;
}

.table-btn {
  padding-top: 7px;
  padding-left: 3px;
  border: 0;
  background-color: transparent;
}

.table-btn::before {
  content: url(../img/x.svg);
  cursor: pointer;
}

.table-img img {
  border-radius: 50%;
  margin-top: -3px;
  margin-left: 1px;
}

.table-name {
  margin-left: 11px;
  padding-top: 7px;
  width: 220px;
  vertical-align: top;
}

.table-name a {
  color: var(--blog);
}

.table-name a:hover {
  color: var(--hover-modal);
}

.table-price {
  color: var(--black);
  margin-left: 27px;
  margin-top: 6px;
}

.table-price span {
  color: var(--ABABAB);
}

.table-finish-price {
  margin-top: 6px;
  margin-left: 24px;
}

.table-total-price {
  font-weight: bold;
  font-size: 15px;
  line-height: 16px;
  margin-left: 287px;
  margin-right: 3px;
  margin-top: 16px;
  margin-bottom: 14px;
}

.time {
  min-height: 45px;
  -ms-grid-column-span: -1;
  grid-column-end: -1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-right: -2px;
  margin-top: -2px;
}

.header-pay:hover .box-table {
  display: block;
}

.time p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 7px;
}

.time a {
  color: var(--normal-white);
  font-size: 22px;
  line-height: 24px;
}

.finding {
  min-height: 20px;
  width: 267px;
  margin-bottom: -2px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.find a {
  color: var(--normal-white);
}

.find a[href]:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.find {
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -34px;
  margin-left: 0;
}

.find li::before {
  content: "»";
  margin-left: 8px;
  margin-right: 8px;
  color: var(--normal-white);
}

.find li:first-child::before {
  content: none;
}

.find a[href] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*Slider*/

.bg-image{
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.image1 {
  background-image: url(../img/ice-cream3.png);
  background-color: #849D8F;
}

.image2 {
  background-image: url(../img/ice-cream2.png);
  background-color: #8996A6;
}

.image3 {
  background-image: url(../img/ice-cream1.png);
  background-color: #9D8B84;
}

.slider {
  position: relative;
  padding-top: 265px;
}

.slide {
  text-align: center;
  width: 670px;
  margin: 0 auto;
  display: none;
}

.slide-current {
  display: block;
}

.slider a {
  font-size: 32px;
  line-height: 44px;
}

.slider h2 {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  margin: 0;
  margin-bottom: 26px;
}

.slider-btn {
  position: absolute;
  bottom: 24px;
  left: -1px;
  width: 79px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.btn-slider {
  display: inline-block;
  width: 21px;
  height: 21px;

  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slider:not(.current-btn):hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-slider:not(.current-btn):active {
  background-color: #ffffff;
}

.btn-slider:last-child {
  margin-right: 0px;
}

.current-btn {
  background-color: #ffffff;
  cursor: default;
}

/*buttons*/

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  border-radius: 70px;
  color: var(--normal-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px #AC1000;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;

}

.btn-large {
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.btn-large:hover {
  box-shadow: 0px 2px 2px #AC1000;
}

.btn-large:active {
  box-shadow: inset 0px 2px 2px #942718;
}

/*STOKS*/

.stocks {
  margin-top: 39px;
  margin-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 26px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 26px;
  -ms-flex-align: start;
      align-items: start;
}

.slider .btn-large {
  padding: 10px 40px;
}

.stocks h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: -5px;
}

.stocks p {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.stock1,
.stock2 {
  padding: 16px 22px 22px 16px;
  position: relative;
}

.stock1 {
  background-color: #410112;
  background-image: url(../img/raspberry.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
}

.stock {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.stocks a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
  padding: 12px 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.stock2 {
  background-color: #43220D;
  background-image: url(../img/chocolate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 229px;
}

/*products*/

.products {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.product {
  position: relative;
  height: 267px;
}

.product img {
  border-radius: 50%;
}

.product p {
  position: absolute;
  bottom: 0;
  left: 1px;
  margin: 0;
  margin-bottom: 13px;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product span {
  font-size: 30px;
  line-height: 35px;
}

.product-hover h4{
  width: 266px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  margin-bottom: 11px;
}

.product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.product-name:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.product-hover .btn {
  content: "";
  display: none;
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  height: 44px;
  padding: 10px 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.product-hover:hover .btn {
  display: block;
}

.product-hover {
  position: relative;
  z-index: 2;
  vertical-align: top;
  text-align: center;
  margin-bottom: 25px;
  margin-right: 26px;
}

.product-hover:nth-child(4n) {
  margin-right: 0;
}

.product-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 293px;
  min-height: calc(100% + 65px);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  top: -5px;
  left: -13px;
}

.product-hover:hover::before {
  display: block;
}

.product-hover:hover {
  position: relative;
  z-index: 4;
}

.hit-product::before {
  content: url(../img/hit.png);
  position: absolute;
  top: 0;
  left: 0;
}

/*edge*/

.advantages {
  position: relative;
  background-image: url(../img/pattern.jpg);
  background-color: var(--stub);
  min-height: 306px;
  border-radius: 16px;
  color: var(--pattern);
  padding: 23px 18px;
  margin-top: 4px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  margin-top: 1px;
  margin-left: 2px;
}

.advantages-flex p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 6px;
  width: calc(540px - 58px);
}

.advantage {
  display: -ms-flexbox;
  display: flex;
}

.advantage1::before {
  margin-right: 6px;
  margin-top: 7px;
  margin-left: 2px;
  content: url(../img/ice-cream-icon.svg);
}

.advantage2::before {
  margin-right: 11px;
  margin-top: 7px;
  content: url(../img/cow-icon.svg);
}

.advantage3::before {
  margin-right: 6px;
  margin-top: 7px;
  margin-left: 2px;
  content: url(../img/leaf-icon.svg);
}

.advantage4::before {
  margin-right: 11px;
  margin-top: 7px;
  content: url(../img/temp-icon.svg);
}

.advantages-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

/* news */

.news {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-top: 40px;
}

/*BLOG*/

.blog {
  background-image: url(../img/strawberry.jpg);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
  color: var(--blog);
  padding-top: 18px;
  padding-left: 20px;
  padding-right: 250px;
  padding-bottom: 18px;
}

.blog h3 {
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.blog a {
  color: var(--blog);
  border-bottom: 2px solid #353535;
  font-size: 24px;
  line-height: 30px;
}

.blog a:hover {
  color: var(--hover-modal);
  border-bottom: 2px solid rgba(255, 188, 158, 0.3);
}

/*mailing*/

.mailing-bg {
  background-image: url(../img/bg-mail.jpg);
  background-repeat: repeat;
  border-radius: 16px;
  width: 560px;
  min-height: 220px;
}

.mailing {
  background-color: var(--basic-white);
  margin: 5px;
  border-radius: 16px;
  background-repeat: no-repeat;
  color: var(--mailling);
  padding: 25px 16px 35px 20px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 550px;
  min-height: 210px;
}

.mailing p {
  margin: 0;
  margin-bottom: 40px;
}

.mailing .btn {
  padding-top: 9px;
  padding-bottom: 9px;
  border: none;
  color: var(--normal-white);
  margin-left: 7px;
  width: 130px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.mailing label {
  display: inline-block;
}

.mailing input {
  width: 368px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding-left: 14px;
  font-weight: bold;
}

.mailing input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-left: 13px;
}

.mailing input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-left: 13px;
}

.mailing input:placeholder-shown {
  font-weight: normal;
}

.contacts {
  position: relative;
  min-height: 430px;
  margin-top: 40px;
}

.contacts .wrapper {
  position: relative;
}

.contact-map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 430px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.contact-adress {
  background-color: var(--dark-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--map);
  width: 303px;
  min-height: 306px;
  border-radius: 16px;
  position: absolute;
  padding: 32px 27px;
  right: 0;
  top: 62px;
}

.contact-adress p {
  margin: 0;
}

.contact-adress p:first-child {
  margin-top: -1px;
  margin-bottom: -2px;
  padding-right: 100px;
}

.contact-adress p:nth-child(3) {
  margin-top: 22px;
}

.contact-adress strong,
.contact-adress b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contact-adress a {
  padding: 10px 28px;
  width: 253px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-top: 29px;
}

/* footer */

.footer {
  min-height: 103px;

}

.footer .wrapper {
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
  padding-top: 18px;
  padding-bottom: 25px;
}

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 168px;
  margin-top: 13px;
}

.social-hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 8px;
  margin-bottom: 8px;
  opacity: 0.8;
  height: 36px;
}

.social-hover:nth-child(4n) {
  margin-right: 0;
}

.social-hover:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-hover:hover {
  opacity: 1;
}

.social-fb::before {
  content: url(../img/facebook.svg);
}

.social-vk::before {
  content: url(../img/vk.svg);
}

.social-inst::before {
  content: url(../img/inst.svg);
}

.social-twit::before {
  content: url(../img/twitter.svg);
}

.footer-navigation ul {
  position: relative;
  left: 24px;
  padding: 0;
  list-style: none;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 14px;
}

.footer-navigation li {
  min-width: 143px;
  margin-bottom: 5px;
  position: relative;
}

.footer-navigation a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.footer-navigation {
  max-width: 328px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  }

.footer-navigation a::before {
  content: url(../img/heart.svg);
  position: absolute;
  top: 2px;
  left: -21px;
  display: none;
}

.footer-navigation a:hover::before {
  display: block;
}

.footer-navigation li:hover {
  font-weight: 700;
}

.html-academy {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  height: 60px;
  width: 191px;
  margin-top: -2px;
  margin-right: -2px;
}

.html-academy p {
  margin: 0;
}

.html-academy a:last-child {
  color: var(--normal-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.html-academy a:last-child:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

/* POPAP */

.block {
  display: none;
}

.bg-color-popap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 7;
}

.popap {
  position: fixed;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  z-index: 10;
  width: 476px;
  min-height: 442px;
  background-color: var(--basic-white);
  border-radius: 6px;
  color: var(--blog);
  padding: 15px 25px 24px 23px;
}

.popap-form fieldset {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0;
}

.popap-form .close {
  position: absolute;
  right: -9px;
  top: 0;
  width: 18px;
  height: 18px;
  background-image: url(../img/x-popap.svg);
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
}

@-moz-document url-prefix() {
  .popap-form .close {
    top: -49px;
  }
} 

.popap-form legend {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 20px;
}

.popap-form input {
  width: 267px;
  height: 44px;
  background: var(--normal-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

.popap-form input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-left: 14px;
}

.popap-form  input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-left: 14px;
}

.popap-form textarea {
  width: 428px;
  height: 154px;
  background: var(--normal-white);
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 4px;
  resize: none;
  padding: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

.popap-form input:placeholder-shown,
.popap-form textarea:placeholder-shown {
  font-weight: normal;
}

.popap-form textarea:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-top: 14px;
  padding-left: 14px;
}

.popap-form  textarea:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-top: 14px;
  padding-left: 14px;
}

.popap-form .btn {
  border: 0;
  padding: 12px 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  margin-left: 290px;
}

/* ------------ */
/* CATALOG.HTML */
/* ------------ */


.main-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 27px;
}

.sorting {
  max-width: 870px;
  min-height: 130px;
  margin-bottom: 18px;
}

.sorting form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* filter */

.filter {
  position: relative;
  border: 0;
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  margin-right: 14px;
}

.filter ul {
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter li {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter legend {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 6px;
  margin-left: 16px;
}

.filter-fillers legend {
  margin-bottom: 9px;
}

.filter-sort1 {
  margin-right: 15px;
}

.filter-range {
  margin-right: 15px;
}

.filter option {
  padding: 0;
  color: var(--blog);
}

.filter input {
  margin-right: 11px;
}

.filter:nth-child(2) legend {
  margin-left: 17px;
}

.sort1 {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--normal-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  border: 0;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 9px;
  width: 196px;
  min-height: 36px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.sorts:hover .sort1 {
  color: var(--blog);
}

.sort-svg {
  position: absolute;
  top: 35px;
  right: 15px;
}

@-moz-document url-prefix() {
  .sort-svg {
    top: 14px;
  }
} 

.sorts:hover .sort-svg-path {
  fill: var(--blog);
}

.range {
  padding: 17px 21px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: 36px;
  position: relative;
}

.lane {
  height: 2px;
  width: 176px;
  background-color: rgba(248, 247, 244, 0.5);
  position: relative;
}

.lane2 {
  background-color: var(--basic-white);
  width: 60%;
  margin-left: 20%;
  height: 2px;
}

.circle1 {
  border: 0;
  height: 20px;
  width: 20px;
  background-color: var(--normal-white);
  border-radius: 50%;
  position: absolute;
  top: -9px;
  margin-left: -10px;
  left: 20%;
  cursor: pointer;
}

.circle2 {
  border: 0;
  height: 20px;
  width: 20px;
  background-color: var(--normal-white);
  border-radius: 50%;
  position: absolute;
  top: -9px;
  margin-left: -10px;
  left: 80%;
  cursor: pointer;
}

.circle1:hover,
.circle2:hover {
  height: 22px;
  width: 22px;
  top: -10px;
  margin-left: -11px;
}

.circle1::before,
.circle2::before {
  content: "";
  position: absolute;
  z-index: 5;
  height: 4px;
  width: 4px;
  background-color: #ABABAB;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
} 

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.price-controls {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: absolute;
  top: 0;
  left: 57px;
}

@-moz-document url-prefix() {
  .price-controls {
    top: -23px;
  }
} 

.price-controls input {
  color: var(--normal-white);
  background-color: transparent;
  border: 0;
  width: 27px;
  margin: 0;
}

.min-price::after {
  content: "–";
}

.richness {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 2px 18px 7px 14px;
  border-radius: 20px;
  display: inline-block;
  vertical-align: middle;
  width: 426px;
}

.richness li {
  padding-top: 5px;
}

.richness li:not(:last-child) {
  margin-right: 19px;
}

.fat-checkbox {
  position: relative;
}

input[type="radio"] + .fat-checkbox::before {
  content: "";
  display: inline-block;
  border: 4px solid rgba(255, 255, 255, 0.8);
  background-color: transparent;
  border-radius: 50%;
  height: 22px;
  width: 22px;
  vertical-align: middle;
  margin-right: 11px;
}

input[type="radio"] + .fat-checkbox:hover::before {
  border: 4px solid rgba(255, 255, 255, 1);
}

input[type="radio"]:disabled + .fat-checkbox::before {
  border: 4px solid rgba(255, 255, 255, 0.4);
}

input[type="radio"] + .fat-checkbox::after {
  content: "";
  height: 8px;
  width: 8px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
  display: none;
  vertical-align: middle;
}

input[type="radio"] + .fat-checkbox:hover::after {
  background-color: rgba(255, 255, 255, 1);
}

input[type="radio"]:disabled + .fat-checkbox::after {
  background-color: rgba(255, 255, 255, 0.4);
}

input[type="radio"]:checked + .fat-checkbox::after {
  display: inline-block;
}


.fillers {
  min-height: 36px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 1px 20px 8px 16px;
  border-radius: 18px;
  width: 712px;
}

.fillers li {
  margin-right: 21px;
  padding-top: 7px;
}

.fillers li:nth-child(2) {
  margin-right: 22px;
}

.fillers li:nth-child(3) {
  margin-right: 27px;
}

.fillers li:nth-child(4) {
  margin-right: 22px;
}

.fillers li:last-child {
  margin-right: 0;
}

.filter-fat {
  margin-right: 0;
}

.filter-submit {
  width: 144px;
  min-height: 36px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid #FFFFFF;
  border-radius: 20px;
  color: var(--normal-white);
  margin-top: auto;
  margin-bottom: 13px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}

.filter-submit:hover {
  background: rgba(255, 255, 255, 1);
  color: var(--blog);
}

.filter-submit:active {
  box-shadow: inset 0px 2px 1px #696969;
  border: none;
}

.filter-checkbox {
  position: relative;
  padding-left: 32px;
}

input[type="checkbox"]:not(:checked) + .filter-checkbox::before {
  content: "";
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 22px;

  opacity: 0.8;
}

input[type="checkbox"]:checked + .filter-checkbox::before  {
  content: "";
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 24px;

  opacity: 0.8;
} 

input[type="checkbox"]:not(:checked) + .filter-checkbox:hover::before,
input[type="checkbox"]:checked + .filter-checkbox:hover::before {
  content: "";
  opacity: 1;
}

input[type="checkbox"]:not(:checked):disabled + .filter-checkbox::before,
input[type="checkbox"]:checked:disabled + .filter-checkbox::before {
  content: "";
  opacity: 0.4;
}

.pages-swich {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 30px;
  margin-left: auto;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.pages-swich a:not(:first-child):not(:last-child) {
  color: var(--normal-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 4px;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 5px 9px;
}

.pages-swich a:hover:not(:first-child):not(:last-child) {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pages-swich a:active:not(:first-child):not(:last-child) {
  background-color: rgba(255, 255, 255, 1);
  color: var(--blog);
  border-radius: 50%;
}

.pages-swich a:not([href]):not(:first-child):not(:last-child) {
  background-color: #fff;
  border-radius: 50%;
  color: var(--blog);
}

/* pages-swich */

.arrow-left {
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
  width: 9px;
  height: 9px;
  padding: 3px 4px;
  margin-top: 7px;
  margin-right: 11px;
}

.arrow-right {
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  width: 9px;
  height: 9px;
  padding: 3px 4px;
  margin-top: 7px;
  margin-left: 12px;
}