:root {
  --bg-color: #9D8B84;
  --basic-white: #F8F7F4;
  --dark-white: #FEFEFE;
  --normal-white: #FFFFFF;
  --pattern: #323232;
  --blog: #323232;
  --stub: rgb(216, 199, 157);
  --mailling: #5A5A5A;
  --map: #323232;
  --nav-active: #EDEDED;
  --hover-modal: #E84D37;
  --hover-a: #FFBC9E;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

::-webkit-input-placeholder {color:#999999; opacity:1;}/* webkit */
::-moz-placeholder          {color:#999999; opacity:1;}/* Firefox 19+ */
:-moz-placeholder           {color:#999999; opacity:1;}/* Firefox 18- */
:-ms-input-placeholder      {color:#999999; opacity:1;}/* IE */

/* Global */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', "Verdana", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: var(--normal-white);
  background-color: var(--bg-color);
  min-width: 1200px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  padding-top: 9px;
  width: calc(1200px - 56px);
  margin: 0 auto;
}

.bg-image {
  background-image: url(../img/ice-cream1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

/*Navigation*/

.container {
  display: grid;
  grid-template-columns: max-content 1fr 252px;
}

.header-navigation {
  list-style: none;
  line-height: 18px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.nav-items {
  margin-right: 8px;
  margin-right: 13px;
  margin-left: 13px;
  margin-bottom: 15px;
}

.nav-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.nav-items .active {
  color: var(--normal-white);
  background-color: var(--hover-modal);
  border-radius: 26px;
  padding: 7px 13px 7px 13px;
  margin-right: -13px;
  margin-left: -13px;
}

.nav-item:hover,
.nav-item .active:hover {
  background-color: var(--normal-white);
  border-radius: 26px;
  color: var(--blog);
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  padding: 7px 13px 7px 13px;
  margin-right: -13px;
  margin-left: -13px;
}

.nav-item:active {
  background: var(--nav-active);
  box-shadow: inset 0px 2px 1px #696969;
}

.catalog-list {
  display: none;
  list-style: none;
}

.header-search div {
  display: none;
}

.header-login {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.search {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: var(--normal-white);
  padding: 8px 8px 6px 8px;
  display: flex;
  align-items: center;
  height: 32px;
}

.search::before {
  content: url(../img/search.svg);
}

.search:hover,
.exit:hover,
.box:hover {
  background-color: rgba(255, 255, 255, 1);
  color: var(--blog);
}

.search:hover::before {
  content: url(../img/search-hover.svg);
}

.exit:hover::before {
  content: url(../img/exit-hover.svg);
}
.box:hover::before {
  content: url(../img/box-hover.svg);
}

.exit {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px 16px;
  height: 100%;
  vertical-align: middle;
  color: var(--normal-white);
  display: flex;
  align-items: center;
  height: 32px;
}

.box {
  display: flex;
  align-items: center;
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 6px 16px 7px 16px;
  color: var(--normal-white);
}

.box::before {
  content: url(../img/basket.svg);
  margin-right: 8px;
  margin-top: auto;
}

.box-full::before {
  content: url(../img/box-full.svg);
}

.box-full:hover::before {
  content: url(../img/basket-full.svg);
}

.header-in-out div {
  display: none;
}

.exit::before {
  content: url(../img/exit.svg);
  margin-right: 8px;
  margin-top: auto;
}


.header-pay div {
  display: none;
}

.time {
  min-height: 45px;
  grid-column-end: -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.time p {
  font-size: 14px;
  line-height: 16px;
  margin: 0;

}

.time a {
  color: var(--normal-white);
  font-size: 22px;
  line-height: 24px;
}

.finding {
  min-height: 20px;
  width: 267px;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.find a {
  color: var(--normal-white);
}

.find a[href]:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.find {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -28px;
  margin-left: -9px;
}

.find li::before {
  content: "»";
  margin-left: 8px;
  margin-right: 8px;
  color: var(--normal-white);
}

.find li:first-child::before {
  content: none;
}

.find a[href] {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/*Slider*/

.slider {
  position: relative;
  padding-top: 210px;
}

.slide {
  text-align: center;
  width: 648px;
  margin: 0 auto;
}

.slide2,
.slide3 {
  display: none;
}

.slider a {
  font-size: 32px;
  line-height: 44px;
}

.slider h2 {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
}

.slider-btn {
  position: absolute;
  bottom: 27px;
  left: 0;
}

.slider-btn button:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-slider1 {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slider2 {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.btn-slider3 {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  vertical-align: top;
  background-color: ar(--normal-white);;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/*buttons*/

.btn {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px rgba(85, 8, 0, 0.54);
  border-radius: 70px;
  color: var(--normal-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px #AC1000;
}

.btn:active {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;

}

.btn-large {
  box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  border-radius: 70px;
}

.btn-large:hover {
  box-shadow: 0px 2px 2px #AC1000;
}

.btn-large:active {
  box-shadow: inset 0px 2px 2px #942718;
}

/*STOKS*/

.stocks {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.slider .btn-large {
  padding: 10px 40px;
}

.stocks a {
  padding: 15px 22px;
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.stocks h3 {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
  margin-bottom: 16px;
}

.stocks p {
  font-size: 18px;
  line-height: 22px;
  margin: 0;
}

.stock1,
.stock2 {
  padding: 16px 22px 22px 16px;
  position: relative;
}

.stock1 {
  background-color: var(--stub);
  background-image: url(../img/raspberry.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  height: 229px;
}

.stocks a {
  margin-top: 42px;
}

.stock2 {
  background-color: var(--stub);
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  height: 229px;
}

/*products*/

.hit-products {
  display: flex;
  justify-content: center;
}

.hit-product {
  position: relative;
  height: 267px;
}

.hit-product::before {
  content: url(../img/hit.png);
  position: absolute;
  top: 0;
  left: 0;
}

.hit-product img {
  border-radius: 50%;
}

.hit-product p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.hit-product span {
  font-size: 30px;
  line-height: 35px;
}

.hit-product-hover h4{
  width: 267px;
  margin-top: 15px;
  margin-bottom: 11px;
}

.product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.product-name:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}

.hit-product-hover .btn {
  content: "";
  display: none;
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  height: 44px;
  padding: 12px 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.hit-product-hover:hover .btn {
  display: block;
}

.hit-product-hover {
  position: relative;
  z-index: 2;
  right: -13px;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 26px;
  margin-top: 40px;
}

.hit-product-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 293px;
  height: 402px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  top: -5px;
  left: -13px;
}

.hit-product-hover:hover::before {
  display: block;
}


/*edge*/

.advantages {
  position: relative;
  background-image: url(../img/pattern.jpg);
  background-color: var(--stub);
  background-repeat: repeat no-repeat;
  min-height: 306px;
  border-radius: 16px;
  color: var(--pattern);
  padding: 23px 20px;
}

.advantages h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
}

.advantages-flex p {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 21px;
  width: calc(540px - 53px);
}

.advantage {
  display: flex;
}

.advantage1::before {
  margin-right: 6px;
  margin-top: 7px;
  content: url(../img/ice-cream-icon.svg);
}

.advantage2::before {
  margin-right: 6px;
  margin-top: 7px;
  content: url(../img/cow-icon.svg);
}

.advantage3::before {
  margin-right: 6px;
  margin-top: 7px;
  content: url(../img/leaf-icon.svg);
}

.advantage4::before {
  margin-right: 6px;
  margin-top: 7px;
  content: url(../img/temp-icon.svg);
}

.advantages-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* news */

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/*BLOG*/

.blog {
  background-image: url(../img/strawberry.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 560px;
  height: 220px;
  color: var(--blog);
  padding-top: 23px;
  padding-left: 20px;
}

.blog h3 {
  margin: 0;
  margin-bottom: 15px;;
}

.blog a {
  color: var(--blog);
  border-bottom: 2px solid #353535;
  font-size: 24px;
  line-height: 30px;
}

.blog-content {
  max-width: 287px;
  max-height: 77px;
}

.blog a:hover {
  color: var(--hover-modal);
  border-bottom: 2px solid rgba(255, 188, 158, 0.3);
}

/*mailing*/

.mailing {
  background-image: url(../img/mail-background.png);
  border-radius: 16px;
  background-repeat: no-repeat;
  color: var(--mailling);
  padding: 34px 22px 41px 26px;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  width: 560px;
  height: 220px;
}

.mailing p {
  margin: 0;
  margin-bottom: 47px;
}

.mailing .btn {
  padding: 14px 19px 13px 19px;
  border: none;
  color: var(--normal-white);
  margin-left: 10px;
  margin-right: 0;
  width: 130px;
}

.mailing input {
  width: 368px;
  height: 44px;
  border-radius: 6px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  padding-left: 14px;
}

.mailing input:hover {
  border: 2px solid rgba(178, 178, 178, 0.52);
  padding-left: 13px;
}

.mailing input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
  padding-left: 13px;
}

.contacts {
  position: relative;
  min-height: 430px;
  margin-top: 40px;
}

.contact-map {
  background-image: url(../img/map.png);
  background-repeat: no-repeat;
  height: 430px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.contact-adress {
  background-color: var(--dark-white);
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: var(--map);
  width: 303px;
  height: 306px;
  border-radius: 16px;
  position: relative;
  padding: 32px 25px;
}

.contact-adress p {
  margin: 0;
}

.contact-adress strong,
.contact-adress b {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contact-adress p {
  margin-bottom: 30px;
}


.contact-adress a {
  padding: 13px 28px;
  width: 253px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

/* footer */

.footer {
  height: 103px;
}

.footer .wrapper {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  height: 100%;
}

.social {
  display: flex;
  height: 36px;
}

.social-hover {
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin-right: 12px;
  opacity: 0.8;
}

.social-hover:active {
  border: 2px solid rgba(255, 255, 255, 0.7);
}

.social-hover:hover {
  opacity: 1;
}

.social-fb::before {
  content: url(../img/facebook.svg);
}

.social-vk::before {
  content: url(../img/vk.svg);
}

.social-inst::before {
  content: url(../img/inst.svg);
}

.social-twit::before {
  content: url(../img/twitter.svg);
}

.footer-navigation ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.footer-navigation li {
  min-width: 143px;
  margin-bottom: 12px;
  position: relative;
}

.footer-navigation a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.footer-navigation {
  max-width: 327px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  }

.footer-navigation a::before {
  content: url(../img/heart.svg);
  position: absolute;
  top: 2px;
  left: -21px;
  display: none;
}

.footer-navigation a:hover::before {
  display: block;
}

.footer-navigation li:hover {
  font-weight: 700;
}

.html-academy {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  height: 60px;
  width: 191px;
}

.html-academy p {
  margin: 0;
}

.html-academy a:last-child {
  color: var(--normal-white);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.html-academy a:last-child:hover {
  color: var(--hover-a);
  border-bottom: 1px solid rgba(255, 188, 158, 0.3);
}
/* ------------ */
/* CATALOG.HTML */
/* ------------ */


.main-title {
  font-size: 35px;
  line-height: 41px;
  margin: 0;
}


.products {
  display: flex;
  justify-content: center;
}

.line1:hover,
.line2:hover,
.line3:hover {
  position: relative;
  z-index: 3;
}

.product {
  position: relative;
  height: 267px;
}

.product img {
  border-radius: 50%;
}

.product p {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.product span {
  font-size: 30px;
  line-height: 35px;
}

.product-hover h4{
  width: 267px;
  margin-top: 15px;
  margin-bottom: 11px;
}

.product-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--normal-white);
}

.product-hover .btn {
  content: "";
  display: none;
  position: absolute;
  font-size: 18px;
  line-height: 24px;
  width: 200px;
  height: 44px;
  padding: 12px 16px;
  left: 0;
  right: 0;
  margin: auto;
}

.product-hover:hover .btn {
  display: block;
}

.product-hover {
  position: relative;
  z-index: 2;
  right: -13px;
  vertical-align: top;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 26px;
}

.product-hover::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 293px;
  height: 402px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  display: none;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  top: -5px;
  left: -13px;
}

.product-hover:hover::before {
  display: block;
}

.pages-swich {
  margin-top: 80px;
  margin-bottom: 30px;
  margin-left: auto;
  width: 194px;
}

.pages-swich a:not(:first-child):not(:last-child) {
  color: var(--normal-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  margin-right: 4px;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 4px 8px;
}

.pages-swich a:hover:not(:first-child):not(:last-child) {
  background-color: #fff;
  border-radius: 50%;
  color: var(--blog);
}

.pages-swich a:not([href]):not(:first-child):not(:last-child) {
  background-color: #fff;
  border-radius: 50%;
  color: var(--blog);
}

.arrow-left {
  content: "";
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  transform: rotate(-45deg);
  width: 9px;
  height: 9px;
}

.arrow-right {
  content: "";
  display: inline-block;
  border-top: 1px solid rgba(255, 255, 255, 1);
  border-right: 1px solid rgba(255, 255, 255, 1);
  transform: rotate(45deg);
  width: 9px;
  height: 9px;
}